@import '../../styles/variables.scss';

.search-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: .7rem;

    &__input {
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        height: 40px;
        padding: 0.2rem 0.75rem;
        @include glassmorphic;

        input[type="text"] {
            color: whitesmoke;
            background: transparent;
            outline: none;
            border: none;
            font-size: .8rem;

        }
        ::placeholder {
            color: whitesmoke;
            font-size: .8rem;
            font-weight: 400;
        }

        button {
            background: transparent;
            border: none;
            cursor: pointer;
            color: whitesmoke;
        }
    }
}